.mealName{
    font-size: 2.5rem;
}
.title{
    font-size: 1.75rem;
}
.mealImg {
    width: 400px;
    border-radius: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    background-color: #9ea8a8;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align:justify;
}