.randomMeals { 
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 90%;
}
.errorMessage {
    font-size: 3rem;
    color: rgb(197, 116, 116);
    text-align: center;
}

.description {
    margin: 5% 5%;
    padding: 3% 3%;
    font-size: 1.2rem;
    text-align: justify;
    background-color:#aeb9b9 ;
    border-radius: 0.7rem;
}