.container {
    padding: 0.5rem;
    background-color: rgb(65, 141, 137);
    width: 135px;
    border: 0.15rem solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0.75rem;
    text-align: center;
}
.imgIng {
    padding: 0.1rem;
    width: 120px;
    border-radius: 0.5rem;
}

.name {
    font-weight: bold;
    font-size: 1.2rem;
}