.container {
    width: 120px;
    height: 220px;
    padding: 0.5rem;
    background-color: #9db9b9;
    border-radius: 5px;
    margin: 0.75rem;
    text-align: center;
    box-shadow: 1px 1px 5px black;
}
.imgIng {
    padding: 0.1rem;
    width: 100px;
    border-radius: 0.5rem;
}

.name {
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}
.name a{
    color:  #2c5f5f;
}
.name a :hover {
    color:  #a1cfcf;
}